

.header__desktop-nav {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 1023px) {
  .header__desktop-nav {
    display: none;
  }
}

.header__menu-button {
  display: none;
}

@media (max-width: 1023px) {
  .header__menu-button {
    display: inline-flex;
  }
}

.header__user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__email {
  font-family: var(--md-sys-typescale-body-medium-font);
  font-size: var(--md-sys-typescale-body-medium-size);
  line-height: var(--md-sys-typescale-body-medium-line-height);
  color: var(--md-sys-color-on-surface);
}

@media (max-width: 768px) {
  .header__email {
    display: none;
  }
}

.header__drawer-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__drawer-header h3 {
  margin: 0;
  font-family: var(--md-sys-typescale-title-large-font);
  font-size: var(--md-sys-typescale-title-large-size);
  font-weight: var(--md-sys-typescale-title-large-weight);
  line-height: var(--md-sys-typescale-title-large-line-height);
  color: var(--md-sys-color-on-surface);
}

.header__drawer-header p {
  margin: 0;
  font-family: var(--md-sys-typescale-body-medium-font);
  font-size: var(--md-sys-typescale-body-medium-size);
  line-height: var(--md-sys-typescale-body-medium-line-height);
  color: var(--md-sys-color-on-surface-variant);
}

.header__drawer-footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
